@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

* {
    font-family: 'Hind', sans-serif;
    scrollbar-width: none;
}

.bannerBGImage {

    height: 100vh;
    background: url("/images/background laptop.jpg");
    background-size: cover;
    position: relative;

}


html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.bannerText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannerTitle {
    font-size: 3rem;
    line-height: 1cm;

}

.bannerDesc {
    font-size: 4rem;
    line-height: 2cm;
}

.bannerAbc {
    font-size: 2rem;
    line-height: 1cm;
}

.card {

    cursor: pointer;

}

.card:hover {

    background-color: rgb(227, 235, 234);

    border: 5px solid rgb(95, 94, 94);

}

.card-img-top {
    height: 50vh;
}

.bIcon {
    width: 100px;
    ;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover {
    border: 2px solid yellowgreen;

}

.instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.linkedin {
    color: #0077B5;
}

.linkedin::before {
    background-color: #ffffff;
    border-radius: 30px;
    border: 0;
}

.facebook {
    color: #39569c;
}

.facebook::before {
    background-color: #ffffff;
    border-radius: 40px;
    border: 0;
}